<div class="row column">
	<h3>Product Gallery</h3>
</div>
<hr>
<div class="row column">
	<h4>Special Orders</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Butterfly Collection</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Flower Collection</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Easter Collection</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Barrettes</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Fall Collection</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Winter Collection</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>
<hr>
<div class="row column">
	<h4>Ballet Bags</h4>
</div>
<div class="row medium-up-3 large-up-4">
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
	<div class="column">
		<%= image_tag "special_flower-band.jpg", class: 'thumbnail' %>
	</div>
</div>